<div>
  <label for="author">Search for Authors:</label>
  <input [(ngModel)]="searchString" type="text" name="author" id="author">
  <button type="submit" (click)="onSubmit()">Submit</button>
</div>
<mat-card *ngFor ="let book of books">
  <mat-card-header>
    <mat-card-title><strong> {{ books.title }} </strong></mat-card-title>
    <mat-card-subtitle> {{ book.getAuthorsList() }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="book.coverImage ? book.coverImage : ''" >
</mat-card>